################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DBContext/bin/Debug
/DBContext/obj/Debug
/DBContext/obj
/packages
/Services/bin/Debug
/Services/obj/Debug
